body{
    margin: 0px;
    position: relative;
}
.container1{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    background-color: white;
    position: fixed;
    /* box-shadow: 5px 5px rgb(234, 243, 247); */
}

.container1-logo{
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    filter: saturate(10px);
}

.container1-right{
    float: right;
    margin-top: 25px;
    /* display: inline-block; */
    color: rgb(38, 38, 224);
    font-size: 24px;
}

.container1-login{
    margin-right: 30px;
    display: inline-block;
}

.container1-signup{
    display: inline-block;
    margin-right: 30px;
}
#signup {
    background-color: rgb(38, 38, 224);
    width: 88px;
    height: 40px;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 3px;
}

.container2{
    width: 100%;
    height: 650px;
    /* border: 1px solid red; */
    background-image: linear-gradient(to top,white 60%,rgb(234, 243, 247));
}

.container2-left{
    float: left;
    width: 700px;
    height: 350px;
    /* border: 1px solid red; */
    margin-top: 180px;
    margin-left: 130px;
}

.container2-heading{
    font-size: 40px;
    font-weight: 550;
    margin-left: 0px;
}

.container2-text{
    font-size: 22px;
    margin-top: -30px;
    padding-top: 0px;
}

.container2-forms{
    margin-left: 40px;
    margin-top: 30px;
}

#email{
    width: 350px;
    height: 35px;
    font-size: 20px;
    border: 1px solid rgb(211, 208, 208);
    border-radius: 5px;
    background-color: white;
}

#button-signup{
    width: 250px;
    height: 40px;
    margin-top: -10px;
    font-size: 22px;
    background-color: rgb(66, 66, 243);
    border: none;
    border-radius: 5px;
    color: white;
}

.container2-right {
    float: right;
    width: 450px;
    height: 550px;
    /* border: 1px solid red; */
    margin-right: 145px;
    margin-top: 100px;
}

.container3{
    width: 1300px;
    height: 1200px;
    /* border: 1px solid blue; */
    margin-left: auto;
    margin-top: 130px;
    margin-right: auto;
    text-align: center;
}

.container3-heading{
    font-size: 36px;
    font-weight: 540;
}

#button-startdoing{
    width: 200px;
    height: 50px;
    margin-top: -10px;
    font-size: 22px;
    color: rgb(53, 53, 245);
    border-radius: 5px;
    border: 1px solid rgb(53, 53, 245);
    background-color: white;
    margin-top: 10px;
}

.container3-text{
    font-size: 18px;
    margin-top: -20px;
    line-height: 1.4;
    color: rgb(54, 50, 50);
}

.container3-img{
    margin-top: 30px;
    /* box-shadow: 20px 20px rgb(96, 96, 236); */
}

.container3-heading2{
    /* font-weight: bold; */
    font-size: 20px;
}
.container3-imgs2{
    display: flex;
    justify-content: center;
    /* border: 1px solid blueviolet; */
}
.img1-4{
    margin-top: 20px;
}

.img2-4{
    margin-left: 50px;
}

.container4{
    width: 1300px;
    height: 1200px;
    /* border: 1px solid skyblue; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.container4-1{
    width: 1350px;
    height: 300px;
    margin-top: 80px;
    /* border: 1px solid blue; */
}

.container4-1-heading{
    font-size: 34px;
    font-weight: bold;
    color: rgb(37, 35, 35);
}

.container4-1-text{
    font-size: 20px;
    color: rgb(37, 35, 35);
    margin-left: 38px;
    line-height: 1.4;
}

.container4-2{
    width: 1300px;
    height: 400px;
    margin-top: 80px;
    /* border: 1px solid blue; */
}

.container4-2-img{
    float: left;
    margin-top: 0px;
    margin-left: 40px;
}

.container4-2-text1{
    padding-top: 10px;
    padding-left: 30px;
    font-weight: 540;
    font-size: 16px;
}

.container4-2-text2{
    padding-top: 10px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 34px;
}

.container4-2-text3{
    padding-top: 0px;
    color: rgb(173, 171, 171);
    font-size: 24px;
}

.container4-2-text4{
    padding-top: 10px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 20px;
}

.container4-3{
    width: 1300px;
    height: 400px;
    margin-top: 80px;
    /* border: 1px solid blue; */
}

.container4-3-img{
    float: right;
    margin-top: 0px;
    margin-left: 40px;
}

.container4-3-text1{
    padding-top: 30px;
    padding-left: 40px;
    font-weight: 540;
    font-size: 16px;
}

.container4-3-text2{
    padding-top: 10px;
    padding-left: 40px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 34px;
}

.container4-3-text3{
    padding-top: -60px;
    color: rgb(173, 171, 171);
    font-size: 24px;
}

.container4-3-text4{
    padding-top: 10px;
    padding-left: 50px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 20px;
}

.container4-4{
    width: 1300px;
    height: 400px;
    margin-top: 80px;
    /* border: 1px solid blue; */
}

.container4-4-img{
    float: left;
    margin-top: 0px;
    margin-left: 40px;
}

.container4-4-text1{
    padding-top: 10px;
    padding-left: 30px;
    font-weight: 540;
    font-size: 16px;
}

.container4-4-text2{
    padding-top: 10px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 34px;
}

.container4-4-text3{
    padding-top: 0px;
    color: rgb(173, 171, 171);
    font-size: 24px;
}

.container4-4-text4{
    padding-top: 10px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 20px;
}

.container4-5{
    width: 1300px;
    height: 400px;
    margin-top: 80px;
    /* border: 1px solid blue; */
}

.container4-5-img{
    float: right;
    margin-top: 0px;
    margin-left: 40px;
}

.container4-5-text1{
    padding-top: 30px;
    padding-left: 40px;
    font-weight: 540;
    font-size: 16px;
}

.container4-5-text2{
    padding-top: 10px;
    padding-left: 40px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 34px;
}

.container4-5-text3{
    padding-top: -60px;
    color: rgb(173, 171, 171);
    font-size: 24px;
}

.container4-5-text4{
    padding-top: 10px;
    padding-left: 50px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 20px;
}

.container5{
    clear: both;
    width: 1200px;
    height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    
    /* display: flex; */
}

.container5-hr{
    background-color: black;
    width: 100%;
    /* border-top: 1px solid black; */
    border-bottom: none;
}

.hr1{
    margin-top: 120px;
}
.container5-1{
    width: 500px;
    float: left;
    margin-left: 50px;
    /* border: 1px solid red; */
}

.container5-img1{
    float: left;
}

.container5-text1{
    margin-left: 50px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 22px;
    margin-top: 50px;
    margin-left: 150px;
}

.container5-text2{
    color: rgb(173, 171, 171);
    font-size: 18px;
    margin-left: 110px;
    color: rgb(37, 35, 35);
}

.container5-2{
    float: right;
    margin-left: 100px;
    width: 550px;
    height: 250px;
    float: left;
    /* border: 1px solid red; */
    
}
.container5-img2{
    float: left;
}
.container5-text21{
    margin-left: 150px;
    font-weight: bold;
    color: rgb(37, 35, 35);
    font-size: 22px;
    margin-top: 50px;
}

.container5-text22{
    color: rgb(173, 171, 171);
    font-size: 18px;
    margin-left: 110px;
    color: rgb(37, 35, 35);
}

.container5-button{
    margin-top: -10px;
    margin-left: 50px;
    width: 140px;
    height: 35px;
    color: rgb(60, 60, 216);
    background-color: white;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 17px;
}

.container5-button2{
    margin-left: 30px;
}

.footer1{
    width: 100%;
    height: 600px;
    /* border: 1px solid blue; */
    margin-top: 80px;
    background-color: rgb(217, 244, 255);
}

.footer1-boxes{
    float: right;
    width: 100px;
    height: 50px;
    /* border: 1px solid black; */
    margin-right: 300px;
    margin-top: 80px;
}

.footer1-box1{
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */
    display: inline-block;
    background-color: white;
}

.box2{
    margin-left: 20px;
}


.footer1-box1-text1{
    text-align: center;
    margin-top: 4px;
    font-weight: bolder;
    font-size: 22px;
}

.footer1-texts{
    clear: right;
    width: 1000px;
    height: 300px;
    /* border: 1px solid blueviolet; */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.footer1-text1{
    font-size: 45px;
    color: rgb(34, 33, 33);
}

.footer1-img{
    float: right;
    margin-top: -60px;
    margin-right: 50px;
    /* background-image: linear-gradient(100% blue); */
}

.footer2{
    width: 1100px;
    height: 200px;
    border: 1px solid blue;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom,rgb(13, 166, 226) 5%,blue 90%);
}

.footer2-text{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.footer2-forms{
    margin-left: 25%;
}

.footer2-button2{
    background-color: rgb(65, 182, 65);
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
    font-size: 17px;
}

.footer{
    width: 100%;
    height: 380px;
    /* border: 1px solid teal; */
}

.footer-part1{
    width: 800px;
    height: 100px;
    /* border: 1px solid teal; */
    margin-top: 40px;
    margin-left: 30%;
}

.footer-part1-text{
    font-size: 22px;
    margin-top: 45px;
   float: left;
}

.footer-part1-imgs{
    margin-top: 40px;
    margin-left: 30px;
   float: right;
   margin-right: 50px;
}

.footer-part1-img1{
    display: inline-block;
}

.footer-part2{
    background-color: rgb(245, 247, 248);
}

.footer-part2-hr{
    border-top: 1px solid lightgray;
    border-bottom: none;
    background-color: none;
}

.footer-hr2{
    clear: both;
}

.footer-part2-1{
    float: left;
    margin-left: 250px;
    margin-top: 20px;
}

.footer-part2-2{
    float: left;
    margin-left: 100px;
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(92, 88, 88);
}

.footer-part3{
    margin-top: -8px;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(245, 247, 248);
}

.footer-part2:hover{
    text-decoration: underline;
}

.footer-part3-links{
    text-decoration: none;
    color: gray;
    margin-left: 50px;
    color: rgb(121, 120, 120);
}

.footer-part3-links:hover{
    text-decoration: underline;
}

.footer-part3-box{
    float: right;
    margin-top: -10px;
    margin-right: 200px;
    width: 300px;
    height: 50px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


.footer-part3-img{
    filter: grayscale(100%);
    border-radius: 5px;
}

.footer-part3-image{
    border-radius: 5px;
}






